<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">

</head>
<body>
    <details open>
        <summary className="font-bold text-2x1  p-3 m-0 transition: 150">Password Dispenser</summary>
        <p>Details</p>
      <ul>
        <li>12" display</li>
        <li>High Definition interface</li>
        <li>Capacitive Touchscreen</li>
        <li>Sound</li>
      </ul>
      </details>
</body>
</html>


