<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../styles/App.css"> -->
    <link rel="stylesheet" href="../styles/index.css">

</head>
<body>

  
  <details open>
    <summary className="font-bold text-2x1  p-3 m-0 transition: 150">
    CTV       </summary>
    <p>Details</p>
    <ul>
      <li>20-40" displays</li>
      <li>Customizable timeframe</li>
      <li>X different programs</li>
    </ul>
  </details>

</body>
</html>


